.dropdown-toggle::after {
    content: none !important;
}

.dropdown-menu {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.dropdown-menu span {
    margin-left: 25px;
}

.dropdown-toggle {
    height: 40px !important;
    width: 50px !important;
    padding: 0px !important;
}

.dropdown-toggle:focus {
    box-shadow: !important; 
    border-width: thin !important;
}