.create-post {
  width: 100%;
}



#message {
  width: 57.5%;
  height: 60px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;
  margin-left: 7%;
  margin-right: auto;
  white-space: normal;
  word-wrap: break-word;
  display: block;
}

.buttons {
  margin-left: 43.5%;
  
}

#post {
  background-color: white;
  padding: 6px 10px;
  font-family: sans-serif;
  font-weight: bold;
}

#tag {
  background-color: white;
  padding: 6px 10px;
  font-family: sans-serif;
  font-weight: bold;
}

#upload {
  background-color: white;
  padding: 6px 10px;
  font-family: sans-serif;
  font-weight: bold;
}

#pic {
  width: 20px;
  height: 20px;
}

#postan{
  background-color: white;
  padding: 6px 10px;
  font-family: sans-serif;
  font-weight: bold;
}

@media only screen and (max-width: 1200px){
  .buttons{
    margin-left: 41.5%;
  }
}


@media only screen and (max-width: 1100px) {
  .buttons {
    margin-left: 30%;
    margin-right: auto;
  }
  #message {
    margin-left: 20%;
  }
}

@media only screen and (max-width:850px){
  .buttons{
    margin-left: 32%;
  }
}

@media only screen and (max-width:750px){
  .buttons{
    margin-left: 29%;
  }
}



@media only screen and (max-width: 650px) {
  .buttons {
    margin-left: 27%;
  }
}

@media only screen and (max-width: 600px){
  .buttons{
    margin-left: 25%;
  }
}

@media only screen and (max-width: 550px) {
  .buttons {
    margin-left: 22%;
  }
}

@media only screen and (max-width: 450px) {
  .buttons {
    margin-left: 15%;
  }
}
@media only screen and (max-width: 380px) {
  .buttons {
    margin-left: 15%;
  }
}
