.svg-icon circle {
  stroke: black;
  stroke-width: 1;
}

/* html {
  scroll-behavior: smooth;
  
} */

.post-item-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: auto;
  margin-bottom: 60px;

  border-radius: 8px;
  border-style: solid;
  border-width: 1.5px;
  border-color: rgba(227, 235, 253, 0.8);
}

.post-item-header {
  display: block;
  width: 100%;
  margin-bottom: 12px;
}

.post-item-description {
  /* word-wrap: break-word; */
  overflow-wrap: break-word;
  width: 96%;
  margin-right: 2%;
  margin-left: 2%;
}

.post-item-header-profile {
  position: relative;
  top: 5px;
  margin-left: 15px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.post-item-header-dropdown {
  position: relative;
  top: 9px;
  margin-right: 9px;
  float: right;
}

.post-item-header-name {
  font-size: 1.3em;
  /* font-weight: bold; */
  position: relative;
  top: 8px;
  margin-left: 2px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.post-item-follow {
  font-size: 0.8em;
  color: grey;
  position: relative;
  top: 8px;
  margin-left: 2px;
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.post-item-header-date {
  position: relative;
  float: right;
  font-size: 1em;
  color: grey;
  position: relative;
  top: 18px;
  /* Note, try "margin-right" or "right" if you want to add more space.  */
}

.post-item-main-image {
  display: block;
  width: 100%;

  max-height: 700px;
}

.post-item-footer {
  display: block;
  width: 100%;
  height: auto;
}

.post-item-footer-stats {
  height: 45px;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

.post-item-footer-number-like {
  position: relative;
  top: 25%;
  float: left;
  width: 50%;
  text-align: center;
}

.post-item-footer-number-comment {
  position: relative;
  top: 25%;
  float: right;
  width: 50%;
  text-align: center;
}

.post-item-footer-buttons {
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
  height: 50px;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}

.post-item-footer-comment-button {
  width: 49.5%;
  height: 48px;
  position: relative;
  float: right;
  /* background-color: rgba(227, 235, 253) !important; */
  background-color: #fafafa !important;
  color: black !important;
  font-weight: bold !important;
  border: none !important;
  border-radius: 0px !important;
}

.post-item-footer-comment-button:hover {
  background-color: #fafafa !important;
}

.post-item-footer-like-button {
  width: 50%;
  height: 48px;
  position: relative;
  float: left;
  /* background-color: rgba(227, 235, 253) !important; */
  background-color: #fafafa !important;
  color: black !important;
  font-weight: bold !important;
  border: none !important;
  border-radius: 0px !important;
}

.post-item-footer-like-button:hover {
  background-color: #fafafa !important;
}

.post-item-footer-comment {
  overflow-wrap: break-word;
  width: 96%;
  margin-right: 2%;
  margin-left: 2%;
}

.post-item-footer-comment-box {
  width: 100%;
}

.show-more-footer-comment {
  color: #0645ad;
  font-weight: bold;
  cursor: pointer;
}

.comment-box {
  width: 90%;
  background-color: #fafafa;
  height: 50px;
  border: none;
  border-top: 1px solid #e1e1e1;
  padding-top: 0;
}

.comment-profile {
  position: relative;
  top: 0px;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.comment-post {
  width: 10%;
  height: 50px;
  background-color: #fafafa;
  border: none;
  border-top: 1px solid #e1e1e1;
  word-wrap: break-word;
  /* color: #007bff; */
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (max-width: 732px) {
  .post-item-header-date {
    font-size: 1em;
    /* font-weight: bold; */
    color: grey;
    position: relative;
    top: 8px;
    margin-left: 10%;
    border-radius: 50%;
    height: 45px;
    width: 45px;
  }
  .comment-box {
    width: 80%;
  }
  .comment-post {
    width: 20%;
  }
  .post-item-main-image {
    max-width: 732px;
  }
}
