.career{
    margin-top: 50px;
}
  
/* Left and right column */
  .col{
    width: 25%;
  }
  
  /* Middle column */
  .col-7 {
    font-weight: bold;
    width: 50%;
    height: 100%;
   
 
  }

  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 280px) and (min-width: 280px){
    .col, .col-7 {
      width: 100%;
    }
  }

#resume {
    margin-left: 0px;
    position: relative;
    overflow: hidden;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    border-style: solid;
    border-color: rgba(227, 235, 253, 1);
    border-width: 2px;
    border-radius: 8px;
  }



#uploadresume {
  
    position: absolute;
    font-size: 30px;
    opacity: 0;
    right: 0;
    top: 0;
}

#submitcareer{
    font-weight: bold;
    margin-left: 100px;
   
}
footer {

    padding: 10px;
    text-align: center;
    color: white;
  }
  