#active-body {
  text-align: center;
}

#active-button,
#buttom-text {
  margin-top: 2%;
}
#top-text {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}

.thanks{
  background-color: #fafafa;
  padding: 40%;
}