#active-body {
  text-align: center;
  background-color: #fafafa;
  padding-top: 20px;
  padding-bottom: 470px;
}

#active-button,
#buttom-text {
  margin-top: 2%;
}
#top-text {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
}
