@media all and (min-width: 480px) {
  .reset {
    padding: 60px 0;
  }
  .reset-password form {
    padding: 60px 0;
  }

  .reset form {
    margin: 0 auto;
    max-width: 320px;
  }
  .reset-password form {
    margin: 0 auto;
    max-width: 320px;
  }
}

#reset-message {
  text-align: center;
  margin-top: 10%;
  color: red;
}
#reset-password-message {
  text-align: center;
  margin-top: 10%;
  color: red;
}
