@media all and (min-width: 280px) {
  .reset {
    padding: 60px 0;
  }
  .reset-password form {
    padding: 60px 0;
  }

  .reset form {
    padding: 30px 30px;

    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(227, 235, 253, 1);
    margin: 0 auto;
    max-width: 320px;
  }
  .reset-password form {
    margin: 0 auto;
    max-width: 320px;
  }
}

#reset-message {
  text-align: center;
  margin-top: 10%;
  color: red;
}
#reset-password-message {
  text-align: center;
  margin-top: 10%;
  color: red;
}
#emailLogin-message {
  text-align: center;
  margin-top: 10%;
  color: red;
}
