@media all and (min-width: 280px) {
  .account {
    padding: 60px 0;
  }

  .account form {
    padding: 30px 30px;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(227, 235, 253, 1);
    margin: 0 auto;
    max-width: 320px;
  }
}

.side-profile {
  position: relative;
  margin: 10px 10px 10px 80px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

#uploadbutton {
  position: relative;
  overflow: hidden;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
  font-weight: bold;
  font-size: 15px;
  background-color: white;
  border-radius: 2em;
  border-width: 0.2em;
}
