.posts-container {
  overflow: auto;
  height: 600px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.post {
  display: flex;
}

.loading-text {
  text-align: center;
  font-size: 24px;
}

.top-right-container {
  overflow: auto;
  height: 250px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  /* margin-top: 50px; */
  /* margin-bottom: 100px; */
}

.trend-container {
  overflow: auto;
  height: 250px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
